

<% var fruits = ['유재석', '박명수', '정준하', '정형돈', '노홍철', '하하', '길'] %>

<ul>
    <% for (var i = 0; i < fruits.length;
    i++) { %>
    <li><%= fruits[i] %></li>
    <% } %>
</ul>

<!-- 
    for ( var i = 0; i < fruits.length; i++) {
        fruits[i]
    } 
-->