<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>

    <br>
    <br>
    <br>

    <button id="login" onclick="javascript:location.href='/login'">login</button>
    <button id="board" onclick="javascript:location.href='/board'">To the Board</button>

  </body>
</html>